<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <%= debtor[:full_name] %>
    </h5>
    <p class="card-text">
      <%= debtor[:email] %>
      <%= debtor[:phone_number] %>
  </div>
</div>
