<%= render 'shared/notice_messages' %>
<div class="d-flex align-items-center justify-content-between mb-2">
  <h3 class="">All debts</h3>
  <%= link_to "Add new debt", new_debt_path, class: "btn btn-outline-primary"%>
</div>
<div class="debts-container">
  <div class="row gy-3">
    <%=render @debts %>
  </div>
</div>
