<div class="row align-items-center g-0" style="height: 80vh; width: 100wh; ">
  <div class="col-md-8 ps-4 mb-3">
    <h1 class="fw-bolder font-monospace mb-1" style="color: #09172C; font-size: 48px">Debt Manager</h6>
    <h5 class="text-muted fw-light ps-2 fst-italic mb-5" style="width: 70%">We will assist you with debt management. Very suitable for groups of friends living together</h3>

    <p class="mt-5 mb-2 text-muted fs-5">Let's get stated!</p>
    <%= link_to "Sign up", signup_path, class: 'btn btn-danger btn-lg px-5 me-2'%>
    <span>or</span>
    <%= link_to "Sign in", login_path, class: 'btn btn-success btn-lg px-5 ms-2'%>
  </div>

</div>
