.row.align-items-center.g-0{:style => "height: 100vh"}
  .col-md-8.ps-lg-4.mb-md-3.offset-lg-6.col-12{:style => "margin-top: -50px"}
    %h1.fw-bolder.font-monospace.mb-1.px-2{:style => "color: #363662; font-size: 48px"}
      Debt Manager
      %h5.text-muted.fw-light.ps-2.fst-italic.mb-5.pe-md-5.px-3
        We will assist you with debt management. Very suitable for groups of friends living together
    %p.mt-5.mb-2.text-muted.fs-5.text-center.text-md-start Let's get stated!
    .d-flex.flex-md-row.flex-column.align-items-center.justify-center.m-auto
      = link_to "Sign up", signup_path, class: 'btn btn-danger btn-lg px-5'
      %span.mx-2
        or
      = link_to "Sign in", login_path, class: 'btn btn-success btn-lg px-5'
